.container{
    width: 400px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}
h1{
    align-self: center;
}
#red{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 100px;
}
#yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 100px;
    top: 0;

}
#blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 100px;
}
#green{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.container:hover #red{
    transition-duration: 800ms;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform-origin: top left;
}
.container:hover #yellow{
    transition-duration: 800ms;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: top right;
}
.container:hover #blue{
    transition-duration: 800ms;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: bottom left;
}
.container:hover #green{
    transition-duration: 800ms;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform-origin: bottom right;
}
#red{
    transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}
#yellow{
    transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}
#blue{
    transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}
#green{
    transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}

